<h1>Please sign up</h1>
<form action="/signup" method="post">
  <input type="email" name="email" placeholder="gimme your email" />
  <input type="passwordHash" name="passwordHash" placeholder="gimme your password" />
  <button type="submit" value="Signup">Create your account</button>
</form>