<h1>Please subscribe for greater content</h1>

<form action="/signup" method="post">
  <input type="email" name="email" placeholder="gimme your email" />
  <input type="passwordHash" name="passwordHash" placeholder="gimme your password" />
  <input type="name" name="name" placeholder="Give us a nice nickname" />
  <pan>I want to subscribe </pan><input type="checkbox" name="subscribed" value="subscribed">
  <button type="submit" value="subscribed">Upgrade your account</button>
</form>